<h1 class="jumbotron">Brooklyn Bud</h1>


<%= link_to 'Flowers', '/flowers' %>
<%= link_to 'Pre Rolls', '/pre_rolls' %>
<%= link_to 'Edibles', '/edibles' %>
<%= link_to 'Other Products', '/others' %>
