<h1 class="jumbotron">Brooklyn Bud</h1>


<%= link_to 'Flowers', '/flowers' %>
<br>
<%= link_to 'Pre Rolls', '/pre_rolls' %>
<br>
<%= link_to 'Edibles', '/edibles' %>
<br>
<%= link_to 'Other Products', '/others' %>
<br>

<div class="row">
  <div class="col col-lg-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Card title</h4>
       <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
    </div>
  </div>
  <div class="col col-lg-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Card title</h4>
       <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col col-lg-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Card title</h4>
       <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
    </div>
  </div>
  <div class="col col-lg-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
       <h4 class="card-title">Card title</h4>
       <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="card-link">Card link</a>
       <a href="#" class="card-link">Another link</a>
     </div>
    </div>
  </div>
</div>
